@import 'variables';

body {
  margin: 0;
  font-family: 'Ubuntu', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  background: $light;
}

code, pre {
  font-family: 'Ubuntu Mono', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}
