/**
 * The movie database color palette
 */
$tmdb-darkblue: #0d253f;
$tmdb-lightblue: #01b4e4;
$tmdb-lightgreen: #90cea1;

/**
 * Main Theme
 */

$air: 1em;

$dark: $tmdb-darkblue;
$light: $tmdb-lightblue;
$stand: $tmdb-lightgreen;

